<app-header Title="Registro"></app-header>
<ion-content>
  <h5 class="item item-divider center-text">
    Ingrese Numero de Seccion
  </h5>

      <ion-input style="margin: center" type="text" [(ngModel)]="texto"></ion-input>
      <br>
  

      <ion-header class="center">
      <qrcode [qrdata]="texto" [width]="310"></qrcode>



  </ion-header>

  <ion-button expand="full" color="primary" [routerLink]="['/main/home']">
    Finalizar
    <ion-icon name="arrow-forward"></ion-icon>
  </ion-button>
  
  
</ion-content>