<app-header Title="LOGIN"></app-header>

<ion-content>


<div class="d-flex-center">

  <form [formGroup]="form" class="auth-form">

    <app-custom-input
    autocomplete="email"
    icon="mail-outline"
    [control]="form.controls.email"
    type="email"
    label="correo"
    ></app-custom-input>

    <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">

      <div *ngIf="form.controls.email.errors?.['required']">El Correo es Requerido</div>
      <div *ngIf="form.controls.email.errors?.['email']">Ingrese un Correo Valido</div>

    </div>


    <app-custom-input 
    [control]="form.controls.password"
    icon="lock-closed-outline"
    type="password"
    label="contraseña"
    ></app-custom-input>

    <div class="validators" *ngIf="form.controls.password.errors && form.controls.password.touched">

      <div *ngIf="form.controls.password.errors?.['required']">La Contraseña es Requerida</div>

    </div>




       </form>


</div>


</ion-content>
