<app-header [showMenu]="true" Title=""></app-header>

<ion-content>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://static.vecteezy.com/system/resources/previews/014/347/733/non_2x/pupil-reading-icon-cartoon-style-vector.jpg" />
    <ion-card-header>
      <ion-card-title>Registrar mi Asistencia</ion-card-title>
      <ion-button expand="block" shape="round" color="dark" [routerLink]="['/asistencia']">Ingresar</ion-button>

    </ion-card-header>
  </ion-card>



  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addUpdateProduct()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>



</ion-content>